* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f6d9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.intro-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.plane {
  width: 180px;
  position: absolute;
  top: 40%;
  left: -200px;
  animation: fly 6s ease-in-out forwards;
}

@keyframes fly {
  0% {
    left: -200px;
  }
  100% {
    left: 110%;
  }
}

#typewriter {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #d14b6b;
  letter-spacing: 1px;
}
